body {
  padding-top: 50px;
}
.hero {
  background: #7700b3;
  background: -moz-linear-gradient(top, #7700b3 0%, #c44dff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #7700b3), color-stop(100%, #c44dff));
  background: -webkit-linear-gradient(top, #7700b3 0%, #c44dff 100%);
  background: -o-linear-gradient(top, #7700b3 0%, #c44dff 100%);
  background: -ms-linear-gradient(top, #7700b3 0%, #c44dff 100%);
  background: linear-gradient(to bottom, #7700b3 0%, #c44dff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7700B3', endColorstr='#AC5AD9', GradientType=0);
}
.add-neb::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 24px 0 24px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.hero.add-neb::after {
  border-color: #c44dff transparent transparent transparent;
}
.about.add-neb::after {
  border-color: #ffffff transparent transparent transparent;
}
.features {
  background: #434363;
  color: #ffffff;
}
.features.add-neb::after {
  border-color: #434363 transparent transparent transparent;
}
.footer-bg {
  background-color: #3F3F3F;
  color: #909090;
}
footer a {
  color: #909090;
  text-decoration: none!important;
}
footer a:hover {
  color: #c9c9c9;
}
.special-thanks {
  justify-content: space-between;
  align-items: center;
}
.special-thanks [class*=cell-] {
  text-align: center;
  margin-top: 20px;
}
.special-thanks img {
  width: 124px;
  max-height: 64px;
}
#iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
}
.wrapper-header {
  padding: 8px 8px 8px 40px;
  background: #f8f8f8;
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
.wrapper-header .settings-button {
  position: absolute;
  top: 8px;
  left: 4px;
}
.console-wrapper .wrapper-header {
  padding-left: 8px;
}
.console-wrapper .wrapper-header .settings-button {
  position: absolute;
  top: 2px;
  right: 4px;
  left: auto;
}
.console-wrapper .input {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.console-wrapper .input input {
  font-size: 14px;
}
.code-wrapper {
  height: calc(100% - 40px);
}
.output-wrapper {
  height: calc(100% - 76px);
}
#console-output {
  overflow: auto;
}
.CodeMirror {
  height: 100%;
  font-size: 14px;
}
.CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}
.log-item {
  font-size: 12px;
  padding: 2px 24px;
  border-bottom: 1px solid #f8f8f8;
}
.login-box-left {
  display: block;
  position: relative;
  width: 55%;
  padding-right: 60px;
}
.login-box-right {
  display: block;
  position: relative;
  width: 45%;
  padding-left: 60px;
}
.login-box-divider {
  display: flex;
  flex-flow: row nowrap;
  min-height: 46px;
}
.login-box-divider .bar {
  height: 2px;
  width: calc(50% - 34px);
  position: absolute;
  background: #c44dff;
  margin-top: -1px;
  top: 50%;
}
.login-box-divider .bar.top {
  left: 12px;
}
.login-box-divider .bar.bottom {
  right: 12px;
}
.login-box-divider .or {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 50%;
  margin-left: -23px;
  border: 2px solid #c44dff;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 30px;
  color: #ffffff;
}
.signup-box-divider {
  display: flex;
  flex-flow: row nowrap;
  min-height: 46px;
}
.signup-box-divider .bar {
  height: 2px;
  width: 100%;
  position: absolute;
  background: #c44dff;
  margin-top: -1px;
  top: 50%;
  left: 12px;
}
.login-box .invalid_feedback,
.signup-box .invalid_feedback {
  color: #ffffff;
}
.login-box .invalid::after,
.signup-box .invalid::after {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .login-box-divider {
    flex-flow: column nowrap;
  }
  .login-box-divider .bar {
    height: calc(50% - 22px);
    width: 2px;
    left: 50%;
    margin-left: -1px;
  }
  .login-box-divider .bar.top {
    top: 0;
    left: 50%;
  }
  .login-box-divider .bar.bottom {
    bottom: 0;
    top: auto;
  }
  .login-box-divider .or {
    left: 50%;
    margin-left: -23px;
    top: 41%;
  }
  .signup-box-divider {
    flex-flow: column nowrap;
  }
  .signup-box-divider .bar {
    height: 100%;
    width: 2px;
    left: 50%;
    margin-left: -1px;
    top: 0;
  }
}
.code-template {
  width: 80px;
  height: 80px;
  margin: 0 2px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #1d1d1d;
  cursor: pointer;
}
.code-template img,
.code-template [class*=mif-] {
  width: 40px;
  height: 40px;
}
.code-template .name {
  margin-top: auto;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 500;
  display: none;
}
@media screen and (min-width: 768px) {
  .code-template {
    margin: 0 12px;
    width: 118px;
    height: 150px;
  }
  .code-template img,
  .code-template [class*=mif-] {
    height: 60px;
    margin-top: 32px;
    width: 60px;
  }
  .code-template .name {
    display: block;
  }
}
.code-items {
  border: 1px solid #dfdfdf;
  margin: 24px 0 0;
  padding: 0;
  list-style: none inside;
}
.code-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  cursor: default;
}
.code-item:hover {
  background: #eef6ff;
}
.code-item .icon {
  flex-shrink: 0;
}
.code-item .icon img {
  height: 20px;
  width: 20px;
}
.code-item .name {
  margin: 0 16px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1d;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.code-item .date {
  font-size: 14px;
  width: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1;
}
.code-item + .code-item {
  border-top: 1px solid #dfdfdf;
}
#code-settings {
  top: 0!important;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
}
#code-settings textarea {
  min-height: 100px;
  font-size: 14px;
}
#code-settings.open {
  transition: transform 0.3s ease;
  transform: translateY(0);
}
@media screen and (min-width: 1200px) {
  #oauth-buttons {
    width: 250px;
  }
}
.code-presenter-box {
  position: relative;
  display: block;
}
.code-presenter-box .iframe-wrapper {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}
.code-presenter-box iframe {
  width: 200%;
  height: 200%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: scale(0.5);
  transform-origin: top left;
  transition: opacity 0.3s ease;
}
/*# sourceMappingURL=sandbox.css.map */