@import (once) "../../../Metro4/less/include/vars";
@import (once) "../../../Metro4/less/include/mixins";

body {
    padding-top: 50px;
}

.hero {
    background: rgba(119, 0, 179, 1);
    background: -moz-linear-gradient(top, rgba(119, 0, 179, 1) 0%, rgb(196, 77, 255) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(119, 0, 179, 1)), color-stop(100%, rgb(196, 77, 255)));
    background: -webkit-linear-gradient(top, rgba(119, 0, 179, 1) 0%, rgb(196, 77, 255) 100%);
    background: -o-linear-gradient(top, rgba(119, 0, 179, 1) 0%, rgb(196, 77, 255) 100%);
    background: -ms-linear-gradient(top, rgba(119, 0, 179, 1) 0%, rgb(196, 77, 255) 100%);
    background: linear-gradient(to bottom, rgba(119, 0, 179, 1) 0%, rgb(196, 77, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7700B3', endColorstr='#AC5AD9', GradientType=0 );
}

.add-neb {
    &::after {
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 24px 24px 0 24px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}


.hero.add-neb::after {
    border-color: rgb(196, 77, 255) transparent transparent transparent;
}

.about.add-neb::after {
    border-color: @white transparent transparent transparent;
}

.features {
    background: #434363;
    color: @white;
}

.features.add-neb::after {
    border-color: #434363 transparent transparent transparent;
}

.footer-bg {
    background-color: #3F3F3F;
    color: #909090;
}

footer a {
    color: #909090;
    text-decoration: none!important;
}

footer a:hover {
    color: #c9c9c9;
}

.special-thanks {
    justify-content: space-between;
    align-items: center;
}

.special-thanks [class*=cell-] {
    text-align: center;
    margin-top: 20px;
}

.special-thanks img {
    width: 124px;
    max-height: 64px;
}

#iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: @white;

    &.no-pointer {
        pointer-events: none;
    }
}

.wrapper-header {
    padding: 8px 8px 8px 40px;
    background: @light;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    position: relative;

    .settings-button {
        position: absolute;
        top: 8px;
        left: 4px;
    }
}

.console-wrapper {
    .wrapper-header {
        padding-left: 8px;

        .settings-button {
            position: absolute;
            top: 2px;
            right: 4px;
            left: auto;
        }
    }

    .input {
        border-left: none;
        border-right: none;
        border-bottom: none;

        input {
            font-size: 14px;
        }
    }
}

.code-wrapper {
    height: ~"calc(100% - 40px)";
}

.output-wrapper {
    height: ~"calc(100% - 76px)";
}

#console-output {
    overflow: auto;
}

.CodeMirror {
    height: 100%;
    font-size: 14px;
}
.CodeMirror pre.CodeMirror-placeholder { color: #999; }
.CodeMirror-fullscreen {
    top: 54px!important;
}

.log-item {
    font-size: 12px;
    padding: 2px 24px;
    border-bottom: 1px solid @light;
}

.log-item + .log-item {
}

.login-box-left {
    display: block;
    position: relative;
    width: 55%;
    padding-right: 60px;
}

.login-box-right {
    display: block;
    position: relative;
    width: 45%;
    padding-left: 60px;
}

.login-box-divider {
    display: flex;
    flex-flow: row nowrap;
    min-height: 46px;

    .bar {
        height: 2px;
        width: ~"calc(50% - 34px)";
        position: absolute;
        background: @lightViolet;
        margin-top: -1px;
        top: 50%;

        &.top {
            left: 12px;
        }
        &.bottom {
            right: 12px;
        }
    }
    .or {
        position: absolute;
        width: 46px;
        height: 46px;
        left: 50%;
        margin-left: -23px;
        border: 2px solid @lightViolet;
        top: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        line-height: 30px;
        color: @white;
    }
}

.signup-box-divider {
    display: flex;
    flex-flow: row nowrap;
    min-height: 46px;

    .bar {
        height: 2px;
        width: 100%;
        position: absolute;
        background: @lightViolet;
        margin-top: -1px;
        top: 50%;
        left: 12px;
    }
}

.login-box, .signup-box {
    .invalid_feedback {
        color: @white;
    }
    .invalid::after {
        color: @white;
    }
}

@media screen and (min-width: @md){
    .login-box-divider {
        flex-flow: column nowrap;
        .bar {
            height: ~"calc(50% - 22px)";
            width: 2px;
            left: 50%;
            margin-left: -1px;
            &.top {
                top: 0;
                left: 50%;
            }
            &.bottom {
                bottom: 0;
                top: auto;
            }
        }
        .or {
            left: 50%;
            margin-left: -23px;
            top: 41%;
        }
    }

    .signup-box-divider {
        flex-flow: column nowrap;
        .bar {
            height: 100%;
            width: 2px;
            left: 50%;
            margin-left: -1px;
            top: 0;
        }
    }
}

.code-template, .template-small {
    width: 80px;
    height: 80px;
    margin: 0 2px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: @white;
    color: @dark;
    cursor: pointer;

    img, [class*=mif-] {
        width: 40px;
        height: 40px;
    }

    .name {
        margin-top: auto;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: 500;
        display: none;
    }
}

.template-small {
    width: 48px;
    height: 48px;
}

@media screen and (min-width: @md){
    .code-template {
        margin: 0 12px;
        width: 118px;
        height: 150px;
        img, [class*=mif-] {
            height: 60px;
            margin-top: 32px;
            width: 60px;
        }
        .name {
            display: block;
        }
    }
}

.code-items {
    border: 1px solid @borderColor;
    margin: 24px 0 0;
    padding: 0;
    list-style: none inside;
}
.code-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    cursor: default;

    &:hover {
        background: #eef6ff;
    }

    .icon {
        img {
            height: 20px;
            width: 20px;
        }
        flex-shrink: 0;
    }

    .name {
        margin: 0 16px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: @dark;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .date {
        font-size: 14px;
        width: 100px;
        flex-grow: 0;
        flex-shrink: 0;
        line-height: 1;
    }
}

.code-item + .code-item {
    border-top: 1px solid @borderColor;
}

#code-settings {
    top: 0!important;
    transition: @transition-transform;
    .translateY(-100%);

    textarea {
        min-height: 100px;
        font-size: 14px;
    }

    &.open {
        transition: @transition-transform;
        .translateY(0);
    }
}

@media screen and (min-width: @xl) {
    #oauth-buttons {
        width: 250px;
    }
}

.code-presenter-box {
    position: relative;
    display: block;

    .iframe-wrapper {
        position: relative;
        height: 0;
        padding-top: 56.25%;
        overflow: hidden;
    }

    iframe {
        width: 200%;
        height: 200%;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: @white;
        transform: scale(.5);
        transform-origin: top left;
        transition: opacity .3s ease;
    }

    .iframe-meta {

        .meta-data {

        }
        .meta-stat {

        }
    }
}
