<!DOCTYPE html>
<html lang="en" class="_html_classes_">
<head>
    <meta charset="UTF-8">

    _html_head_

    <meta name="keywords" content="_tags_">
    <meta name="description" content="_desc_">

    <link rel="stylesheet" href="//cdn.metroui.org.ua/v4/css/metro-all.min.css">

    _css_external_

    <title>_title_</title>

    <style>
        _style_
    </style>

    <script>
        console.log = function(){
            parent.postMessage(Array.prototype.slice.call(arguments, 0), "*");
        };

        window.addEventListener("message", function(e){
            console.log(e.data);
            eval(e.data);
        }, false);

        window.onerror = function (message, url, row, col, err) {
            console.log(message);
        };
    </script>
</head>
<body class="_body_classes_">

_html_

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdn.metroui.org.ua/v4/js/metro.min.js"></script>

_javascript_external_

<script>
    (function(){

        _js_

    })();
</script>
</body>
</html>
