<!DOCTYPE html>
<html lang="en" class="_html_classes_">
<head>
    <meta charset="UTF-8">

    _html_head_

    <meta name="keywords" content="_tags_">
    <meta name="description" content="_desc_">

    _css_external_

    <title>_title_</title>

    <style>
        _style_
    </style>

    <script>
        console.log = function(){
            parent.postMessage(Array.prototype.slice.call(arguments, 0), "*");
        };

        window.onerror = function (message, url, row, col, err) {
            console.log(message);
        };
    </script>
</head>
<body class="_body_classes_">

_html_

<script src="//cdn.jsdelivr.net/npm/vue"></script>

_javascript_external_

<script>
    (function(){

        _js_

    })();
</script>
</body>
</html>
